<section class="sec_estudios">

    <h1>Aqui irian mis Estudios</h1>
    
    <div>
        <ul>
            <div class="exp">
                <h2>Lorem ipsum dolor </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur reiciendis, velit veritatis
                    ipsam inventore neque! </p>
            </div>
            <div class="exp">
                <h2>Lorem ipsum dolor </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur reiciendis, velit veritatis
                    ipsam inventore neque! </p>
            </div>
            <div class="exp">
                <h2>Lorem ipsum dolor </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur reiciendis, velit veritatis
                    ipsam inventore neque! </p>
            </div>


        </ul>
    </div>
