
<body>

    <!--Header-->
    <app-header></app-header>
  
    <!--About-->
    <app-about></app-about>
  
    <!--Skills-->
    <app-skill></app-skill>
  
    <!--Education-->
    <app-estudios></app-estudios>
  
    <!--Proyectos-->
    <app-proyectos></app-proyectos>

    <!--Contacto-->
    <app-contacto></app-contacto>

    <!--VerContactos-->
    
    <app-vercontactos></app-vercontactos>

    <!--Footer-->
    <app-footer></app-footer>

    <router-outlet></router-outlet>

  
    <script src="js/bootstrap.min.js"></script>
  
  </body>