<!--Projects-->
<section id="proyectos" class="container-fluid background-grey">
  <div class="container py-4 contenedor">
    <h2 class="display-6 mb-3 h2-lines">Proyectos</h2>
    <p class="fs-4">Estos son los proyectos realizados:</p>

    <div class="row justify-content-center">

      <div class="col-lg-6 ">
        <div class="card shadow m-3 card-height1">
          <div>
            <img src="imagenes/iruya.jpg" alt="Electronica" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title display-5 text-center">Programacion en C</h5>
            <p class="card-text fs-4">Al estar cursando la carrera de ingenieria Electronica en la UTN-Haedo,
              realice un proyecto sobre--- </p>
            <div class="row justify-content-between mb-3">
              <div class="col-md">
                <p class="fs-4"> <span class="fw-bolder">Año:</span> 2021 </p>
              </div>
              <div class="col-md text-center"><a href="#" class="btn btn-lg">Al
                  sitio</a></div>
            </div>

          </div>
        </div>
      </div>

<!--         <div class="col-lg-6 ">
        <div class="card shadow m-3 card-height1">
          <div>
            <img src="imagenes/Salto-Berrondo-Obera.JPG" alt="Salto Berrondo Oberá" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title display-5 text-center">Vuelo a Oberá</h5>
            <p class="card-text fs-4">Oberá es una ciudad argentina de la provincia de Misiones, cabecera del
              departamento Oberá. Representa el polo educativo y cultural de la "Zona Centro". Desde la perspectiva
              económica, demuestra una gran pujanza agrícola-industrial, siendo la yerba mate, el té y la madera las
              principales actividades. Es la segunda ciudad en tamaño de la provincia. </p>
            <div class="row justify-content-between mb-3">
              <div class="col-md">
                <p class="fs-4"><span class="fw-bolder">Año:</span> 2019 </p>
              </div>
              <div class="col-md text-center"><a href="https://es.wikipedia.org/wiki/Ober%C3%A1" class="btn btn-lg">Al
                  sitio</a></div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-6 ">
        <div class="card shadow m-3 card-height1">
          <div>
            <img src="imagenes/barn-swallow.jpg" alt="Nido golondrina" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title display-5 text-center">Anidar en Buenos Aires</h5>
            <p class="card-text fs-4">Ciudad de Buenos Aires o Ciudad Autónoma de Buenos Aires (CABA) también llamada
              Capital Federal, por ser la sede del gobierno nacional, es la capital y ciudad más poblada de la
              República Argentina. Tiene sus propios poderes ejecutivo, legislativo y judicial. </p>
            <div class="row justify-content-between mb-3">
              <div class="col-md">
                <p class="fs-4"><span class="fw-bolder">Año:</span> 2021 </p>
              </div>
              <div class="col-md text-center"><a href="https://es.wikipedia.org/wiki/Buenos_Aires"
                  class="btn btn-lg">Al sitio</a></div>
            </div>

          </div>
        </div>
      </div> -->

    </div>

  </div>
</section>
